.grow { flex-grow: 1; }
.upper { text-transform: uppercase; }
.nowrap {white-space: nowrap;text-overflow: ellipsis;}

.avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.datetime-size-fixed:not(.datetime-prefer-wheel){
	max-width: 400px;
}

ol {
	margin: 0;
	padding: 0;
}

ion-toast {
	--border-radius: 8px;
}

.weight-medium { font-weight: 500; }
.weight-semibold { font-weight: 600; }
.weight-bold { font-weight: 700; }

.size-sm { font-size: 12px; line-height: 16px; }
.size-md { font-size: var(--font-size); line-height: var(--line-height); }
.size-lg { font-size: 16px; line-height: 20px;}

.color-black { color: var(--black_main) }
.color-white { color: var(--white_main); }
.color-grey { color: var(--grey_text); }
.color-gray { color: var(--grey_icon); }
.color-red { color: var(--red_deep); }
.color-yellow { color: var(--yellow_deep); }
.color-green { color: var(--green_deep); }
.color-blue { color: var(--blue_text); }

.justify-start { justify-content: start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: end; }
.justify-between { justify-content: space-between; }

.align-start { align-items: start; }
.align-center { align-items: center; }
.align-end { align-items: end; }

.icon-grey { --icon-color: var(--grey_icon); }
.icon-blue { --icon-color: var(--blue_light); }
.icon-red { --icon-color: var(--red_deep); }
.icon-yellow { --icon-color: var(--yellow_deep); }
.icon-green { --icon-color: var(--green_deep); }
.icon-black { --icon-color: var(--black_main); }
.icon-white { --icon-color: var(--white_main); }

.bg-red { background: var(--red); color: var(--white); }
.bg-yellow { background: var(--yellow); color: var(--white); }
.bg-green { background: var(--green); color: var(--white); }
.bg-grey { background: var(--grey); color: var(--white); }
.bg-black { background: var(--black); color: var(--white); }
.bg-white { background: var(--white); color: var(--grey); }
