/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
	font-family: Rubik;
	font-weight: 100 900;
	src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

/** Ionic CSS Variables **/
:root {
	font-optical-sizing: auto;
	font-size: 16px;

	--black: #000;

	--ion-font-family: 'Rubik';
	--background: var(--black);
	--ion-background-color: var(--black);
}

