/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
	font-family: Rubik;
	font-weight: 100 900;
	src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

/** Ionic CSS Variables **/
:root {
	font-optical-sizing: auto;
	font-size: 16px;
	--ion-padding: 8px;

	--black: #333;
	--white: #fff;
	--grey: #333;
	--grey-light: #D9D9D9;
	--red: #ba2b2b;
	--yellow: #ff9e19;
	--green: #72b84e;

	--ion-font-family: 'Rubik';
	--ion-text-color: var(--white);
	--background: var(--white);
	--ion-background-color: var(--white);
}

