/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
	font-family: Rubik;
	font-weight: 100 900;
	src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

/** Ionic CSS Variables **/
:root {
	font-optical-sizing: auto;
	font-size: 16px;
	--ion-padding: 16px;

	--black: #333;
	--white: #fff;
	--grey: #333;
	--grey-light: #D9D9D9;
	--red: #ba2b2b;
	--yellow: #ff9e19;
	--green: #72b84e;

	--ion-font-family: 'Rubik';
	--ion-text-color: var(--white);
	--background: var(--white);
	--ion-background-color: var(--white);

	--ion-color-success: #72b84e;
	--ion-color-success-rgb: 114,184,78;
	--ion-color-success-contrast: #fff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #64a245;
	--ion-color-success-tint: #80bf60;

	--ion-color-warning: #ff9e19;
	--ion-color-warning-rgb: 255,158,25;
	--ion-color-warning-contrast: #fff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #e08b16;
	--ion-color-warning-tint: #ffa830;

	--ion-color-danger: #ba2b2b;
	--ion-color-danger-rgb: 186,43,43;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #a42626;
	--ion-color-danger-tint: #c14040;
}

